@import "tailwindcss";

@font-face {
  font-family: "MyFont";
  src: url("/fonts/Comfortaa-Light.ttf") format("woff2");
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: "MyFont";
  src: url("/fonts/Comfortaa-Regular.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MyFont";
  src: url("/fonts/Comfortaa-Medium.ttf") format("woff2");
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: "MyFont";
  src: url("/fonts/Comfortaa-SemiBold.ttf") format("woff2");
  font-weight: 500;
  font-style: SemiBold;
}
@font-face {
  font-family: "MyFont";
  src: url("/fonts/Comfortaa-Bold.ttf") format("woff2");
  font-weight: 700;
  font-style: bold;
}

body {
  font-family: "MyFont", sans-serif;
  background-color: #0b0e16;
}
